@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CCMonsterMashOutline W01 Rg";
  src: url("https://db.onlinewebfonts.com/t/f828c60f6af08bbda92a14ac38d08ffa.eot");
  src: url("https://db.onlinewebfonts.com/t/f828c60f6af08bbda92a14ac38d08ffa.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f828c60f6af08bbda92a14ac38d08ffa.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/f828c60f6af08bbda92a14ac38d08ffa.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/f828c60f6af08bbda92a14ac38d08ffa.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/f828c60f6af08bbda92a14ac38d08ffa.svg#CCMonsterMashOutline W01 Rg")
      format("svg");
}

body {
  background: rgb(255,255,255);
  background: linear-gradient(4deg, rgba(255,255,255,1) 6%, rgba(253,187,45,1) 100%);
  position: relative;
}
